files:
  "/etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      map $http_upgrade $connection_upgrade {
        default         "upgrade";
        ""                      "";
      }
      
      server {
        listen 80;
        listen 8443 ssl;
        server_name localhost;
        
        ssl_certificate /etc/nginx/ssl-cert/star_xcloud-ops_net.pem;
        ssl_certificate_key /etc/nginx/ssl-cert/star_xcloud-ops_net.key;
        ssl_verify_client optional;
        ssl_client_certificate /etc/nginx/ssl-cert/nginx1.crt;
        
        set $OK 0;
        if ( $uri ~ ^(/1/user/credentials) ) {
                set $OK "${OK}1";
        }
        if ( $ssl_client_verify != SUCCESS ) {
                set $OK "${OK}2";
        }
        
        if ( $OK = 012 ) {
                return 403;
        }
        
        location / {
                proxy_pass                      http://docker;
                proxy_http_version      1.1;
        
                proxy_set_header        Connection                      $connection_upgrade;
                proxy_set_header        Upgrade                         $http_upgrade;
                proxy_set_header        Host                            $host;
                proxy_set_header        X-Real-IP                       $remote_addr;
                proxy_set_header        X-Forwarded-For         $proxy_add_x_forwarded_for;
        }
      }
  
  "/etc/nginx/ssl-cert/star_xcloud-ops_net.pem" :
    mode: "000755"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFJjCCBA6gAwIBAgIQB0Xno8bgIB7Y/0dj9iWSSDANBgkqhkiG9w0BAQsFADBN
      MQswCQYDVQQGEwJVUzEVMBMGA1UEChMMRGlnaUNlcnQgSW5jMScwJQYDVQQDEx5E
      aWdpQ2VydCBTSEEyIFNlY3VyZSBTZXJ2ZXIgQ0EwHhcNMTQxMjAyMDAwMDAwWhcN
      MTYxMjA2MTIwMDAwWjBwMQswCQYDVQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5p
      YTESMBAGA1UEBxMJU3Vubnl2YWxlMR0wGwYDVQQKExRSdWNrdXMgV2lyZWxlc3Ms
      IEluYzEZMBcGA1UEAwwQKi54Y2xvdWQtb3BzLm5ldDCCASIwDQYJKoZIhvcNAQEB
      BQADggEPADCCAQoCggEBAMKQryt5wCNvCtgaZDnleBOa/mzAbVRSBtT4xwwkDsBx
      opKuu0otT5NBuEhK3ZvuNJAlMjy8aMEriawpfRhjvh5MFZsgigih/+h+m9aYJ4kw
      dTgBpaNqKqjuEYJh3QWD2h0lm/1rXVyHeXBASu6D8WkkfNMjKRWg3gY94ZByWOUj
      7oTdN7gIzK2/UTQOWI7R0M91L6EQh1pSdMj8Rgzb6j+M1aSAXXMAJtOTgPmibqGI
      6zFMiiZVH01hTm+dtYlDPD50nQ91+ywwntpf08hpJ61nUADqr81lyyEXnzMlYl2S
      8pkemlwHAlr4SFu6HQVmtDTbYjhk83BYXj4/kwTS+hUCAwEAAaOCAd0wggHZMB8G
      A1UdIwQYMBaAFA+AYRyCMWHVLyjnjUY4tCzhxtniMB0GA1UdDgQWBBQgua6tQhAK
      vQ4LB0qZTllavhhKJTArBgNVHREEJDAighAqLnhjbG91ZC1vcHMubmV0gg54Y2xv
      dWQtb3BzLm5ldDAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEG
      CCsGAQUFBwMCMGsGA1UdHwRkMGIwL6AtoCuGKWh0dHA6Ly9jcmwzLmRpZ2ljZXJ0
      LmNvbS9zc2NhLXNoYTItZzMuY3JsMC+gLaArhilodHRwOi8vY3JsNC5kaWdpY2Vy
      dC5jb20vc3NjYS1zaGEyLWczLmNybDBCBgNVHSAEOzA5MDcGCWCGSAGG/WwBATAq
      MCgGCCsGAQUFBwIBFhxodHRwczovL3d3dy5kaWdpY2VydC5jb20vQ1BTMHwGCCsG
      AQUFBwEBBHAwbjAkBggrBgEFBQcwAYYYaHR0cDovL29jc3AuZGlnaWNlcnQuY29t
      MEYGCCsGAQUFBzAChjpodHRwOi8vY2FjZXJ0cy5kaWdpY2VydC5jb20vRGlnaUNl
      cnRTSEEyU2VjdXJlU2VydmVyQ0EuY3J0MAwGA1UdEwEB/wQCMAAwDQYJKoZIhvcN
      AQELBQADggEBAKXCNVDXDTJYapDN1vTDiVQfqQv+V7jPpLuPQH9Ghbo0O+yoKW9I
      y+sDLsRuvrKUSDOiMfFJ++l2Uc3fiFDEPcpwEwSIDYwWeAsE0NpndKSy8Q/+y2D/
      hWy9zDFDXr6kM6Jzz+wT4+xkcNCwBIsTSvtDMxaDHur9txMG8c1bz/tDo+zKkgu9
      TPFHvjxGM/BCbddf/ZGLOawt1rWvBblRoDormSUzBsGuZDI8++sgmSxXEFMc9Led
      a2EDx/qpMoBCPxlPBcgFS76yQTC9oj+em75cNqvpdfwIa310OuEhjql2MO0ZhF5C
      RvZXfngw4vhUoeUOywo0oS/J9uMeScBDpWI=
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIElDCCA3ygAwIBAgIQAf2j627KdciIQ4tyS8+8kTANBgkqhkiG9w0BAQsFADBh
      MQswCQYDVQQGEwJVUzEVMBMGA1UEChMMRGlnaUNlcnQgSW5jMRkwFwYDVQQLExB3
      d3cuZGlnaWNlcnQuY29tMSAwHgYDVQQDExdEaWdpQ2VydCBHbG9iYWwgUm9vdCBD
      QTAeFw0xMzAzMDgxMjAwMDBaFw0yMzAzMDgxMjAwMDBaME0xCzAJBgNVBAYTAlVT
      MRUwEwYDVQQKEwxEaWdpQ2VydCBJbmMxJzAlBgNVBAMTHkRpZ2lDZXJ0IFNIQTIg
      U2VjdXJlIFNlcnZlciBDQTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
      ANyuWJBNwcQwFZA1W248ghX1LFy949v/cUP6ZCWA1O4Yok3wZtAKc24RmDYXZK83
      nf36QYSvx6+M/hpzTc8zl5CilodTgyu5pnVILR1WN3vaMTIa16yrBvSqXUu3R0bd
      KpPDkC55gIDvEwRqFDu1m5K+wgdlTvza/P96rtxcflUxDOg5B6TXvi/TC2rSsd9f
      /ld0Uzs1gN2ujkSYs58O09rg1/RrKatEp0tYhG2SS4HD2nOLEpdIkARFdRrdNzGX
      kujNVA075ME/OV4uuPNcfhCOhkEAjUVmR7ChZc6gqikJTvOX6+guqw9ypzAO+sf0
      /RR3w6RbKFfCs/mC/bdFWJsCAwEAAaOCAVowggFWMBIGA1UdEwEB/wQIMAYBAf8C
      AQAwDgYDVR0PAQH/BAQDAgGGMDQGCCsGAQUFBwEBBCgwJjAkBggrBgEFBQcwAYYY
      aHR0cDovL29jc3AuZGlnaWNlcnQuY29tMHsGA1UdHwR0MHIwN6A1oDOGMWh0dHA6
      Ly9jcmwzLmRpZ2ljZXJ0LmNvbS9EaWdpQ2VydEdsb2JhbFJvb3RDQS5jcmwwN6A1
      oDOGMWh0dHA6Ly9jcmw0LmRpZ2ljZXJ0LmNvbS9EaWdpQ2VydEdsb2JhbFJvb3RD
      QS5jcmwwPQYDVR0gBDYwNDAyBgRVHSAAMCowKAYIKwYBBQUHAgEWHGh0dHBzOi8v
      d3d3LmRpZ2ljZXJ0LmNvbS9DUFMwHQYDVR0OBBYEFA+AYRyCMWHVLyjnjUY4tCzh
      xtniMB8GA1UdIwQYMBaAFAPeUDVW0Uy7ZvCj4hsbw5eyPdFVMA0GCSqGSIb3DQEB
      CwUAA4IBAQAjPt9L0jFCpbZ+QlwaRMxp0Wi0XUvgBCFsS+JtzLHgl4+mUwnNqipl
      5TlPHoOlblyYoiQm5vuh7ZPHLgLGTUq/sELfeNqzqPlt/yGFUzZgTHbO7Djc1lGA
      8MXW5dRNJ2Srm8c+cftIl7gzbckTB+6WohsYFfZcTEDts8Ls/3HB40f/1LkAtDdC
      2iDJ6m6K7hQGrn2iWZiIqBtvLfTyyRRfJs8sjX7tN8Cp1Tm5gr8ZDOo0rwAhaPit
      c+LJMto4JQtV05od8GiG7S5BNO98pVAdvzr508EIDObtHopYJeS4d60tbvVS3bR0
      j6tJLp07kzQoH3jOlOrHvdPJbRzeXDLz
      -----END CERTIFICATE-----

  "/etc/nginx/ssl-cert/star_xcloud-ops_net.key" :
    mode: "000755"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEAwpCvK3nAI28K2BpkOeV4E5r+bMBtVFIG1PjHDCQOwHGikq67
      Si1Pk0G4SErdm+40kCUyPLxowSuJrCl9GGO+HkwVmyCKCKH/6H6b1pgniTB1OAGl
      o2oqqO4RgmHdBYPaHSWb/WtdXId5cEBK7oPxaSR80yMpFaDeBj3hkHJY5SPuhN03
      uAjMrb9RNA5YjtHQz3UvoRCHWlJ0yPxGDNvqP4zVpIBdcwAm05OA+aJuoYjrMUyK
      JlUfTWFOb521iUM8PnSdD3X7LDCe2l/TyGknrWdQAOqvzWXLIRefMyViXZLymR6a
      XAcCWvhIW7odBWa0NNtiOGTzcFhePj+TBNL6FQIDAQABAoIBAQC1FXwzdomBcSQi
      pc2KpSvw81zBUwduZzm8lh6MCjNAoYKyCrZ9/1YEtDIT9rnzGu0JC9WJ+cF1qFPm
      TGcFgC++ewnQ66QNDNnlRZE9VTfW06cFjWLgiTtTJuBc/UB8lY83eX2Ji5fFOsGn
      2+7htyPEvBUBXcQrQSHjpUx+6C4cdIk2Qi/xjNS2CPaviqjDrvGyFg8pG5O2zBMY
      DJt8Jo/fVkAg/TUT121Y/jn1tqZgDSQd8QM0pdNnaRjnRb+gzs+2TmiYiRNqij2f
      QeTCFQe55ypjXNIu+kZmtbS6V655qP3YMnO8ljOi00k2UQum2DgIJbBAtk7Z0QhC
      JdTa6nCBAoGBAOYFoO4jn3XpwJdf/gkor2cgHqr6dCMt96V9IOOv5v/wL7MFUyWc
      YiAxjeH0m/CYNL56nxU3cgQzOkaCOnoE8DaKvg44xigM0Dd46jhr/NdH499vzsA7
      HkGTTTdeXdD6i8ur7h9knLQWqRbg9szeGFUw1/aF+r+CqKW7B3A57E19AoGBANiJ
      7pVYUvN4LGcphpSJ8cWyDwNNigWUbKFyo3LYgffEGTrmgNBJIEMZ+VHppD+oYVXy
      3+IQnCBEhfLsiX82TOAtGR/1Wficm6XgRyM+OxWGikEhUj0MfnqGROjuOnpumNto
      v2ndERfreMszTcWrfsrcM6rtXQ9HnsGU3xi7wuJ5AoGAPSI91Uzucp4/q3u9vp1r
      kNL+k56hA0CSUw9gkGMN1/P0GXZO1O4tPjUtamJil508V2uroC3uRaN/14GBHTD2
      zugs/waj070kEbo3NeutdWIL9DR5FKohrngBy7du473TLbxyOzG4XDyxj/0WWvik
      KvAiVcjiDcgiHnoIzhD29tkCgYEAwFwP2RXkYqrv7xkBl/TPFYtvMMTyBrDqq6V2
      M7DIDD1lGGDqL522jkWFqVG/+ljvVvXyExYkS7nzsHCWWK75LfCCMFS5/1PIJVwO
      de1zeVTSfrdGIjt2JAwhLTdsNZUIL2lnGXksFS62WPUTcrU9ZqKlN4OzNr6t9lP0
      uDkcECkCgYEApyt8iVu1xZeAD82v0qWQT3dTuhv1kfBamg+GeOCxR0s+Q6kO7I2/
      9nPxzo31MgTsCMANk/yaM5qgZGgIHk0I2HjcaQnUDTKlTa0dMUObI14DBWaWc95U
      JJhzS+qU/61fokyPVLkqM+Qc+r/vXSFCEtrVUMoWEZ/JIL5VdWcC2Ic=
      -----END RSA PRIVATE KEY-----

  "/etc/nginx/ssl-cert/ngnix1.crt" :
    mode: "000755"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIDrzCCApegAwIBAgIQCDvgVpBCRrGhdWrJWZHHSjANBgkqhkiG9w0BAQUFADBh
      MQswCQYDVQQGEwJVUzEVMBMGA1UEChMMRGlnaUNlcnQgSW5jMRkwFwYDVQQLExB3
      d3cuZGlnaWNlcnQuY29tMSAwHgYDVQQDExdEaWdpQ2VydCBHbG9iYWwgUm9vdCBD
      QTAeFw0wNjExMTAwMDAwMDBaFw0zMTExMTAwMDAwMDBaMGExCzAJBgNVBAYTAlVT
      MRUwEwYDVQQKEwxEaWdpQ2VydCBJbmMxGTAXBgNVBAsTEHd3dy5kaWdpY2VydC5j
      b20xIDAeBgNVBAMTF0RpZ2lDZXJ0IEdsb2JhbCBSb290IENBMIIBIjANBgkqhkiG
      9w0BAQEFAAOCAQ8AMIIBCgKCAQEA4jvhEXLeqKTTo1eqUKKPC3eQyaKl7hLOllsB
      CSDMAZOnTjC3U/dDxGkAV53ijSLdhwZAAIEJzs4bg7/fzTtxRuLWZscFs3YnFo97
      nh6Vfe63SKMI2tavegw5BmV/Sl0fvBf4q77uKNd0f3p4mVmFaG5cIzJLv07A6Fpt
      43C/dxC//AH2hdmoRBBYMql1GNXRor5H4idq9Joz+EkIYIvUX7Q6hL+hqkpMfT7P
      T19sdl6gSzeRntwi5m3OFBqOasv+zbMUZBfHWymeMr/y7vrTC0LUq7dBMtoM1O/4
      gdW7jVg/tRvoSSiicNoxBN33shbyTApOB6jtSj1etX+jkMOvJwIDAQABo2MwYTAO
      BgNVHQ8BAf8EBAMCAYYwDwYDVR0TAQH/BAUwAwEB/zAdBgNVHQ4EFgQUA95QNVbR
      TLtm8KPiGxvDl7I90VUwHwYDVR0jBBgwFoAUA95QNVbRTLtm8KPiGxvDl7I90VUw
      DQYJKoZIhvcNAQEFBQADggEBAMucN6pIExIK+t1EnE9SsPTfrgT1eXkIoyQY/Esr
      hMAtudXH/vTBH1jLuG2cenTnmCmrEbXjcKChzUyImZOMkXDiqw8cvpOp/2PV5Adg
      06O/nVsJ8dWO41P0jmP6P6fbtGbfYmbW0W5BjfIttep3Sp+dWOIrWcBAI+0tKIJF
      PnlUkiaY4IBIqDfv8NZ5YBberOgOzW6sRBc4L0na4UU+Krk2U886UAb3LujEV0ls
      YSEY1QSteDwsOoBrp+uvFRTp2InBuThs4pFsiv9kuXclVzDAGySj4dzp30d8tbQk
      CAUw7C29C79Fv1C5qfPrmAESrciIxpg0X40KPMbp1ZWVbd4=
      -----END CERTIFICATE-----
