<!-- BEGIN BASE-->
<div id="base">

    <!-- BEGIN CONTENT-->
    <div id="content" ng-controller="DeviceController">
        <section>
            <div class="section-header">
                <ol class="breadcrumb">
                    <li class="active">Device</li>
                </ol>
            </div>
            <div class="section-body">

                <!-- BEGIN INTRO -->
                <div class="row">
                    <div class="col-xs-8">
                        <h1 class="text-primary">Device</h1>
                    </div><!--end .col -->
                    <div class="col-xs-4 text-right">
                        <h1 class="text-light text-default-light">
                            <button type="button" onclick="location.href='/adddevice'" class="btn ink-reaction
                                btn-raised btn-primary">Add Device</button>
                        </h1>
                    </div>
                    <div class="col-lg-8">
                        <article class="margin-bottom-xxl">
                            <p class="lead">
                            </p>
                        </article>
                    </div><!--end .col -->
                </div><!--end .row -->
                <!-- END INTRO -->

                <div class="row">
                    <div class="col-lg-4" ng-repeat="device in devices track by $index">
                        <div class="card">
                            <div class="card-body">
                                <!--For device name-->
                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div class="col-lg-4 bold_big">{{ device.device_name }}</div>
                                    <div class="col-lg-2"></div>
                                </div>
                                <!--device name ends-->
                                <div class="row">
                                    <div class="col-lg-4"></div>
                                    <div ng-if="device.device_sensor">
                                        <img src="../../assets/img/light.png" ng-show="device.device_sensor[0].sensor_type==0"
                                             alt="light" title="light"/>
                                        <img src="../../assets/img/lock.png" ng-show="device.device_sensor[0].sensor_type==1"
                                             alt="lock" title="lock"/>
                                    </div>
                                    <div ng-if="!device.device_sensor">
                                        <img src="../../assets/img/sensor.png" alt="Sensor" title="Sensor"/>
                                    </div>

                                    <div class="col-lg-4"></div>
                                </div>
                                <p>
                                    <table class="table">
                                        <tbody>
                                        <tr>
                                            <td class="bold">Device Name</td>
                                            <td><a href="/editdevice/{{ device._id }}">{{ device.device_name }}</a></td>
                                        </tr>
                                        <tr>
                                            <td class="bold">MAC Address</td>
                                            <td>{{ device.device_euid }}</td>
                                        </tr>
                                        <tr>
                                            <!--{{ device.is_enabled }}-->
                                            <td class="bold">State</td>
                                            <td class="font-danger" ng-show="device.is_enabled==0">Disabled</td>
                                            <td class="font-success" ng-show="device.is_enabled==1">Enabled</td>
                                        </tr>
                                        <tr>
                                            <td class="bold">Tags</td>
                                            <td>
                                                <div class="list-tags">
                                                    <a ng-repeat="tag in device.tags" class="btn btn-xs btn-primary">
                                                        {{tag}}
                                                    </a>
                                                </div>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td class="bold">Delete</td>
                                            <!-- BEGIN SIMPLE MODAL Device Delete MARKUP -->
                                            <div class="modal fade" id="simpleModal" tabindex="-1" role="dialog"
                                                 aria-labelledby="simpleModalLabel" aria-hidden="true">
                                                <div class="modal-dialog">
                                                    <div class="modal-content">
                                                        <div class="modal-header">
                                                            <button type="button" class="close" data-dismiss="modal"
                                                                    aria-hidden="true">&times;</button>
                                                            <h4 class="modal-title" id="simpleModalLabel">Delete Device
                                                            </h4>
                                                        </div>
                                                        <div class="modal-body">
                                <p>Do you really want to delete this device?</p>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-default" data-dismiss=
                                        "modal">
                                    Cancel</button>
                                <button type="button" ng-click="deleteDevice(device._id)"
                                        data-dismiss="modal" class="btn btn-primary">Delete
                                </button>
                            </div>
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <!-- END SIMPLE MODAL Device Delete MARKUP -->
                <td><i class="md md-delete" ng-class="{anchor: hover}" ng-mouseenter=
                        "hover = true" ng-mouseleave="hover = false" data-toggle="modal" title=
                               "Delete Device" data-target="#simpleModal"></i>
                </td>
                </tr>
                </tbody>
                </table>
                </p>
                <div class="card-body text-center">
                    <button class="btn btn-success" data-toggle="modal"
                            data-target="#{{device._id}}" ng-click="fetchDeviceInfo(device._id);">Show More Info</button>
                </div><!--end .card-body -->

                <!-- BEGIN INFO MODAL  -->
                <div class="modal fade" id="{{device._id}}" tabindex="-1" role="dialog" aria-labelledby=
                        "textModalLabel" aria-hidden="true">
                    <div class="modal-dialog">
                        <div class="modal-content col-lg-12">
                            <div class="modal-header">
                                <button type="button" class="close" data-dismiss="modal" aria-hidden=
                                        "true">&times;</button>
                                <h4 class="modal-title text-center" id="textModalLabel">Device Details
                                </h4>
                            </div>
                            <div class="modal-body">
                                <div ng-controller="TabController as tab">
                                    <ul class="nav nav-pills">
                                        <li ng-class="{active:tab.isSet(0)}"><a href ng-click=
                                                "tab.setTab(0)">Information</a></li>
                                        <li ng-class="{active:tab.isSet(1)}"><a href ng-click=
                                                "tab.setTab(1)">Operations</a></li>
                                    </ul>
                                    <!--Information Tab-->
                                    <div ng-show="tab.isSet(0)">
                                        <p class="text-center"><span class="bold">Device Name</span>
                                            </br>{{ device.device_name }}</p>
                                        <p class="text-center"><span class="bold">Device MAC Address
                                                        </span></br>{{ device.device_euid }}</p>
                                        <p class="text-center"><span class="bold">Associated Gateway
                                                        </span></br>{{ device.gateway_euid}}</p>
                                        <p class="text-center"><span class="bold">Device State</span>
                                            </br><span class="font-danger" ng-show=
                                                    "device.is_enabled==0">NOT JOINED</span>
                                            <span class="font-success" ng-show="device.is_enabled==1">
                                                                JOINED</span></p>
                                        <p class="text-center"><span class="bold">Tags</span></br>
                                            <a ng-repeat="tag in device.tags" class="btn btn-xs
                                                            btn-primary">{{tag}}</a>
                                        </p>
                                    </div>
                                    <!--Operations Tab-->
                                    <div ng-show="tab.isSet(1)">
                                        <!--Check if the device is enabled-->
                                        <div ng-if="!device.device_sensor"> You cannot perform any
                                            operations on this device</div>
                                        <div ng-if="device.device_sensor">
                                            <div ng-repeat="sensors in device.device_sensor">
                                                </br>
                                                <!--{{sensors['sensor_id']}}-->
                                                <div ng-controller="TabController as operationtab">
                                                    <ul class="nav nav-pills">
                                                        <li ng-repeat="(id, capability) in
                                                                        sensors['capability'] track by $index"
                                                            ng-class="{active:operationtab.
                                                                            isSet($index)}"><a href ng-click=
                                                                "operationtab.setTab($index)">
                                                            {{capability['user_command']}}</a></li>
                                                    </ul>
                                                    <!--When device type is light-->
                                                    <div ng-show="sensors.sensor_type==0">
                                                        <div ng-repeat="(id, capability) in
                                                                        sensors['capability'] track by $index" ng-show=
                                                                "operationtab.isSet($index)">
                                                            <div ng-show="capability.user_command==
                                                                            'COLOR'">
                                                                <div class="row">
                                                                    <p>&nbsp;</p>
                                                                    <p>Red: {{red}}</p>
                                                                    <div slider ng-model="red">
                                                                    </div>
                                                                    <p>&nbsp;</p>
                                                                    <p>Green: {{green}}</p>
                                                                    <div slider ng-model="green">
                                                                    </div>
                                                                    <p>&nbsp;</p>
                                                                    <p>Blue: {{blue}}</p>
                                                                    <div slider ng-model="blue">
                                                                    </div>
                                                                    <div class="modal-footer text-center">
                                                                        <button type="button" class="btn
                                                                                       btn-success"
                                                                                ng-click="changeColor(
                                                                                         device._id,sensors['sensor_id']
                                                                                                 ,red, green, blue, 0,
                                                                                                 sensors['function_id'],
                                                                                                  id, 'COLOR');">
                                                                            Apply
                                                                        </button>
                                                                    </div>
                                                                </div><!--end .row -->
                                                            </div>
                                                            <div ng-show="capability.user_command==
                                                                            'BRIGHTNESS'">
                                                                <div class="row">
                                                                    <p>&nbsp;</p>
                                                                    <div class="col-lg-4"></div>
                                                                    <knob knob-data="devBrightness"></knob>
                                                                    <div class="modal-footer text-center">
                                                                        <button type="button" class="btn
                                                                                       btn-success"
                                                                                ng-click="changeLux(device._id,
                                                                                sensors['sensor_id'],devBrightness, 0,
                                                                                sensors['function_id'], id,
                                                                                'BRIGHTNESS');">
                                                                            Apply
                                                                        </button>
                                                                    </div>
                                                                </div><!--end .row -->
                                                            </div>
                                                            <div ng-show="capability.user_command==
                                                                            'STATE'">
                                                                <div class="row">
                                                                    </br>
                                                                    <div class="col-lg-3"></div>
                                                                    <div class="col-lg-3">
                                                                        <!--patchDevice(device_id,
                                                                        sensor_id, value,sensor_type,
                                                                        function_id, capability_id,
                                                                        user_command)-->
                                                                        <button type="button" ng-class="devState==1 ? 'disabled' : ''"
                                                                                ng-click="patchDevice(device._id,
                                                                                                sensors['sensor_id'],
                                                                                                 1, 0, sensors
                                                                                                 ['function_id'], id,
                                                                                                 'STATE');" class="btn
                                        ink-reaction btn-block btn-primary">ON</button></div>
                                                                    <div class="col-lg-3">
                                                                        <button type="button" ng-class="devState==0 ? 'disabled' : ''"
                                                                                ng-click="patchDevice(device._id,
                                                                                                sensors['sensor_id'],
                                                                                                 0, 0, sensors
                                                                                                 ['function_id'], id,
                                                                                                 'STATE');" class="btn
                                        ink-reaction btn-block btn-primary">OFF</button>
                                                                        <!--ink-reaction btn-flat btn-primary active-->
                                                                    </div>
                                                                    <div class="col-lg-3"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <!--When device type is switch-->
                                                    <div ng-show="sensors.sensor_type==1">
                                                        <div ng-repeat="(id, capability) in
                                                                        sensors['capability'] track by $index" ng-show=
                                                                "operationtab.isSet($index)">
                                                            <div ng-show="capability.user_command==
                                                                            'LOCK_STATE'">
                                                                <div class="row">
                                                                    </br>
                                                                    <div class="col-lg-3"></div>
                                                                    <div class="col-lg-3">
                                                                        <!--patchDevice(device_id,
                                                                        sensor_id, value,sensor_type,
                                                                        function_id, capability_id,
                                                                        user_command)-->{{lockState}}
                                                                        <button type="button" ng-class="lockState==1 ? 'disabled' : ''"
                                                                                ng-click="lockDevice(device._id,
                                                                                                sensors['sensor_id'],
                                                                                                 1, 1, sensors
                                                                                                 ['function_id'], id,
                                                                                                 'LOCK_STATE');" class="btn
                                        ink-reaction btn-block btn-primary">LOCK</button></div>
                                                                    <div class="col-lg-3">
                                                                        <button type="button" ng-class="lockState==2 ? 'disabled' : ''"
                                                                                ng-click="lockDevice(device._id,
                                                                                                sensors['sensor_id'],
                                                                                                 2, 1, sensors
                                                                                                 ['function_id'], id,
                                                                                                 'LOCK_STATE');" class="btn
                                        ink-reaction btn-block btn-primary">UNLOCK</button>
                                                                        <!--ink-reaction btn-flat btn-primary active-->
                                                                    </div>
                                                                    <div class="col-lg-3"></div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!--<div class="modal-footer">-->
                            <!--<button type="button" class="btn btn-success" data-dismiss="modal">-->
                            <!--Hide Extended Info-->
                            <!--</button>-->
                            <!--</div>-->
                        </div><!-- /.modal-content -->
                    </div><!-- /.modal-dialog -->
                </div><!-- /.modal -->
                <!-- END INFO MODAL  -->
            </div><!--end .card-body -->

        </section>

    </div><!--end #content-->
    <!-- END CONTENT -->

    <!-- BEGIN MENUBAR-->
    <div id="menubar" class="menubar-inverse ">
        <div class="menubar-fixed-panel">
            <div>
                <a class="btn btn-icon-toggle btn-default menubar-toggle"
                   data-toggle="menubar" href="javascript:void(0);">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="expanded">
                <a href="/dashboard">
                    <span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
                </a>
            </div>
        </div>
        <div class="menubar-scroll-panel">

            <!-- BEGIN MAIN MENU -->
            <ul id="main-menu" class="gui-controls">

                <!-- BEGIN DASHBOARD -->
                <li>
                    <a href="/dashboard">
                        <div class="gui-icon"><i class="md md-home"></i></div>
                        <span class="title">Dashboard</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END DASHBOARD -->

                <!-- BEGIN Gateway -->
                <li>
                    <a href="/gateway">
                        <div class="gui-icon"><i
                                class="fa fa-puzzle-piece fa-fw"></i></div>
                        <span class="title">Gateway</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END UI -->
                <!-- BEGIN Devices -->
                <li>
                    <a href="/device" class="active">
                        <div class="gui-icon"><i class="md md-computer"></i>
                        </div>
                        <span class="title">Devices</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END FORMS -->
                <!-- BEGIN floormap -->
                <li>
                    <a href="/floormap">
                        <div class="gui-icon"><i class="md md-3d-rotation"></i>
                        </div>
                        <span class="title">Floormap</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END floormap -->


            </ul><!--end .main-menu -->
            <!-- END MAIN MENU -->
        </div><!--end .menubar-scroll-panel-->
    </div><!--end #menubar-->
    <!-- END MENUBAR -->

</div><!--end #base-->
<!-- END BASE -->
<!-- BEGIN JAVASCRIPT -->
<script src="../../assets/js/libs/jquery-ui/jquery-ui.min.js"></script>
<script src="../../assets/js/libs/spin.js/spin.min.js"></script>
<script src="assets/js/core/source/AppNavigation.js"></script>
<script src="../../assets/js/core/demo/DemoFormComponents.js"></script>
<!-- END JAVASCRIPT -->
