<!-- BEGIN BASE-->
<div id="base">

    <!-- BEGIN OFFCANVAS LEFT -->
    <div class="offcanvas">
    </div><!--end .offcanvas-->
    <!-- END OFFCANVAS LEFT -->

    <!-- BEGIN CONTENT-->
    <div id="content" ng-controller="EditDeviceController">
        <div ng-show="isContentLoaded">
            <section>
                <div class="section-header ">
                    <ol class="breadcrumb">
                        <li class="active">Device</li>
                    </ol>
                </div>
                <div class="section-body contain-lg">

                    <!-- BEGIN INTRO -->
                    <div class="row">
                        <div class="col-lg-12">
                            <h2 class="text-primary">{{ device_data['device_name'] }}</h2>
                        </div><!--end .col -->
                        <div class="col-lg-8">
                            <p class="lead">
                                Please edit the details you wish to change.
                            </p>
                        </div><!--end .col -->
                    </div><!--end .row -->
                    <!-- END INTRO -->

                    <!-- BEGIN HORIZONTAL FORM - BASIC ELEMENTS-->
                    <div class="card">
                        <div class="card-body">
                            <form class="form-horizontal" role="form">
                                <div class="form-group">
                                    <label for="name" class="col-sm-2 control-label">Name</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="name" ng-model="deviceName"
                                               value="{{ device_data['device_name'] }}"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">Mac Address</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static">{{ device_data['device_euid'] }}</p>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="tags" class="col-sm-2 control-label">Tags</label>
                                    <div class="col-sm-10">
                                        <input type="text" class="form-control" id="tags" ng-model="deviceTags"
                                               value="{{ device_tags }}" data-role="tagsinput"/>
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-2 control-label">State</label>
                                    <div class="col-sm-10">
                                        <p class="form-control-static" ng-show="device_data.is_enabled==0">Disabled</p>
                                        <p class="form-control-static" ng-show="device_data.is_enabled==1">Enabled</p>
                                    </div>
                                </div>


                            </form>
                        </div><!--end .card-body -->
                        <div class="card-actionbar">
                            <div class="card-actionbar-row">
                                <a href="/device" class="btn btn-flat btn-default ink-reaction">Cancel</a>
                                <button type="submit" ng-click="editDevice()" class="btn btn-flat btn-primary
                                            ink-reaction">Update
                                </button>
                            </div>
                        </div>
                    </div><!--end .card -->

                </div>
            </section>
        </div>
    </div><!--end #content-->
    <!-- END CONTENT -->

    <!-- BEGIN MENUBAR-->
    <div id="menubar" class="menubar-inverse ">
        <div class="menubar-fixed-panel">
            <div>
                <a class="btn btn-icon-toggle btn-default menubar-toggle"
                   data-toggle="menubar" href="javascript:void(0);">
                    <i class="fa fa-bars"></i>
                </a>
            </div>
            <div class="expanded">
                <a href="/dashboard">
                    <span class="text-lg text-bold text-primary ">MATERIAL&nbsp;ADMIN</span>
                </a>
            </div>
        </div>
        <div class="menubar-scroll-panel">

            <!-- BEGIN MAIN MENU -->
            <ul id="main-menu" class="gui-controls">

                <!-- BEGIN DASHBOARD -->
                <li>
                    <a href="/dashboard">
                        <div class="gui-icon"><i class="md md-home"></i></div>
                        <span class="title">Dashboard</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END DASHBOARD -->

                <!-- BEGIN Gateway -->
                <li class="gui-folder">
                    <a href="/gateway">
                        <div class="gui-icon"><i
                                class="fa fa-puzzle-piece fa-fw"></i></div>
                        <span class="title">Gateway</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END UI -->
                <!-- BEGIN Devices -->
                <li class="gui-folder">
                    <a href="/device" class="active">
                        <div class="gui-icon"><i class="md md-computer"></i>
                        </div>
                        <span class="title">Devices</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END FORMS -->
                <!-- BEGIN floormap -->
                <li>
                    <a href="/floormap">
                        <div class="gui-icon"><i class="md md-3d-rotation"></i>
                        </div>
                        <span class="title">Floormap</span>
                    </a>
                </li><!--end /menu-li -->
                <!-- END floormap -->

            </ul><!--end .main-menu -->
            <!-- END MAIN MENU -->
        </div><!--end .menubar-scroll-panel-->
    </div><!--end #menubar-->
    <!-- END MENUBAR -->

</div><!--end #base-->
<!-- END BASE -->
<!-- BEGIN JAVASCRIPT -->
<script src="assets/js/libs/bootstrap-tagsinput/bootstrap-tagsinput.min.js"></script>
<script src="assets/js/core/source/AppNavigation.js"></script>
<!-- END JAVASCRIPT -->
