files:
  "/etc/nginx/sites-available/elasticbeanstalk-nginx-docker-proxy.conf" :
    mode: "000755"
    owner: root
    group: root
    content: |
      map $http_upgrade $connection_upgrade {
        default         "upgrade";
        ""                      "";
      }
      
      server {
        listen 80;
        listen 443 ssl;
        server_name localhost;
        
        ssl_certificate /etc/nginx/ssl-cert/star_xcloud-ops_net.pem;
        ssl_certificate_key /etc/nginx/ssl-cert/star_xcloud-ops_net.key;
        ssl_verify_client optional;
        ssl_verify_depth 4;
        ssl_client_certificate /etc/nginx/ssl-cert/client.crt;
        
        set $OK 0;
        if ( $uri ~ ^(/1/ap/credentials) ) {
                set $OK "${OK}1";
        }
        if ( $ssl_client_verify != SUCCESS ) {
                set $OK "${OK}2";
        }
        
        if ( $OK = 012 ) {
                return 403;
        }
        
        location / {
                proxy_pass                      http://docker;
                proxy_http_version      1.1;
        
                proxy_set_header        Connection                      $connection_upgrade;
                proxy_set_header        Upgrade                         $http_upgrade;
                proxy_set_header        Host                            $host;
                proxy_set_header        X-Real-IP                       $remote_addr;
                proxy_set_header        X-Forwarded-For         $proxy_add_x_forwarded_for;
        }
      }
  
  "/etc/nginx/ssl-cert/star_xcloud-ops_net.pem" :
    mode: "000755"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIFJjCCBA6gAwIBAgIQB0Xno8bgIB7Y/0dj9iWSSDANBgkqhkiG9w0BAQsFADBN
      MQswCQYDVQQGEwJVUzEVMBMGA1UEChMMRGlnaUNlcnQgSW5jMScwJQYDVQQDEx5E
      aWdpQ2VydCBTSEEyIFNlY3VyZSBTZXJ2ZXIgQ0EwHhcNMTQxMjAyMDAwMDAwWhcN
      MTYxMjA2MTIwMDAwWjBwMQswCQYDVQQGEwJVUzETMBEGA1UECBMKQ2FsaWZvcm5p
      YTESMBAGA1UEBxMJU3Vubnl2YWxlMR0wGwYDVQQKExRSdWNrdXMgV2lyZWxlc3Ms
      IEluYzEZMBcGA1UEAwwQKi54Y2xvdWQtb3BzLm5ldDCCASIwDQYJKoZIhvcNAQEB
      BQADggEPADCCAQoCggEBAMKQryt5wCNvCtgaZDnleBOa/mzAbVRSBtT4xwwkDsBx
      opKuu0otT5NBuEhK3ZvuNJAlMjy8aMEriawpfRhjvh5MFZsgigih/+h+m9aYJ4kw
      dTgBpaNqKqjuEYJh3QWD2h0lm/1rXVyHeXBASu6D8WkkfNMjKRWg3gY94ZByWOUj
      7oTdN7gIzK2/UTQOWI7R0M91L6EQh1pSdMj8Rgzb6j+M1aSAXXMAJtOTgPmibqGI
      6zFMiiZVH01hTm+dtYlDPD50nQ91+ywwntpf08hpJ61nUADqr81lyyEXnzMlYl2S
      8pkemlwHAlr4SFu6HQVmtDTbYjhk83BYXj4/kwTS+hUCAwEAAaOCAd0wggHZMB8G
      A1UdIwQYMBaAFA+AYRyCMWHVLyjnjUY4tCzhxtniMB0GA1UdDgQWBBQgua6tQhAK
      vQ4LB0qZTllavhhKJTArBgNVHREEJDAighAqLnhjbG91ZC1vcHMubmV0gg54Y2xv
      dWQtb3BzLm5ldDAOBgNVHQ8BAf8EBAMCBaAwHQYDVR0lBBYwFAYIKwYBBQUHAwEG
      CCsGAQUFBwMCMGsGA1UdHwRkMGIwL6AtoCuGKWh0dHA6Ly9jcmwzLmRpZ2ljZXJ0
      LmNvbS9zc2NhLXNoYTItZzMuY3JsMC+gLaArhilodHRwOi8vY3JsNC5kaWdpY2Vy
      dC5jb20vc3NjYS1zaGEyLWczLmNybDBCBgNVHSAEOzA5MDcGCWCGSAGG/WwBATAq
      MCgGCCsGAQUFBwIBFhxodHRwczovL3d3dy5kaWdpY2VydC5jb20vQ1BTMHwGCCsG
      AQUFBwEBBHAwbjAkBggrBgEFBQcwAYYYaHR0cDovL29jc3AuZGlnaWNlcnQuY29t
      MEYGCCsGAQUFBzAChjpodHRwOi8vY2FjZXJ0cy5kaWdpY2VydC5jb20vRGlnaUNl
      cnRTSEEyU2VjdXJlU2VydmVyQ0EuY3J0MAwGA1UdEwEB/wQCMAAwDQYJKoZIhvcN
      AQELBQADggEBAKXCNVDXDTJYapDN1vTDiVQfqQv+V7jPpLuPQH9Ghbo0O+yoKW9I
      y+sDLsRuvrKUSDOiMfFJ++l2Uc3fiFDEPcpwEwSIDYwWeAsE0NpndKSy8Q/+y2D/
      hWy9zDFDXr6kM6Jzz+wT4+xkcNCwBIsTSvtDMxaDHur9txMG8c1bz/tDo+zKkgu9
      TPFHvjxGM/BCbddf/ZGLOawt1rWvBblRoDormSUzBsGuZDI8++sgmSxXEFMc9Led
      a2EDx/qpMoBCPxlPBcgFS76yQTC9oj+em75cNqvpdfwIa310OuEhjql2MO0ZhF5C
      RvZXfngw4vhUoeUOywo0oS/J9uMeScBDpWI=
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIElDCCA3ygAwIBAgIQAf2j627KdciIQ4tyS8+8kTANBgkqhkiG9w0BAQsFADBh
      MQswCQYDVQQGEwJVUzEVMBMGA1UEChMMRGlnaUNlcnQgSW5jMRkwFwYDVQQLExB3
      d3cuZGlnaWNlcnQuY29tMSAwHgYDVQQDExdEaWdpQ2VydCBHbG9iYWwgUm9vdCBD
      QTAeFw0xMzAzMDgxMjAwMDBaFw0yMzAzMDgxMjAwMDBaME0xCzAJBgNVBAYTAlVT
      MRUwEwYDVQQKEwxEaWdpQ2VydCBJbmMxJzAlBgNVBAMTHkRpZ2lDZXJ0IFNIQTIg
      U2VjdXJlIFNlcnZlciBDQTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEB
      ANyuWJBNwcQwFZA1W248ghX1LFy949v/cUP6ZCWA1O4Yok3wZtAKc24RmDYXZK83
      nf36QYSvx6+M/hpzTc8zl5CilodTgyu5pnVILR1WN3vaMTIa16yrBvSqXUu3R0bd
      KpPDkC55gIDvEwRqFDu1m5K+wgdlTvza/P96rtxcflUxDOg5B6TXvi/TC2rSsd9f
      /ld0Uzs1gN2ujkSYs58O09rg1/RrKatEp0tYhG2SS4HD2nOLEpdIkARFdRrdNzGX
      kujNVA075ME/OV4uuPNcfhCOhkEAjUVmR7ChZc6gqikJTvOX6+guqw9ypzAO+sf0
      /RR3w6RbKFfCs/mC/bdFWJsCAwEAAaOCAVowggFWMBIGA1UdEwEB/wQIMAYBAf8C
      AQAwDgYDVR0PAQH/BAQDAgGGMDQGCCsGAQUFBwEBBCgwJjAkBggrBgEFBQcwAYYY
      aHR0cDovL29jc3AuZGlnaWNlcnQuY29tMHsGA1UdHwR0MHIwN6A1oDOGMWh0dHA6
      Ly9jcmwzLmRpZ2ljZXJ0LmNvbS9EaWdpQ2VydEdsb2JhbFJvb3RDQS5jcmwwN6A1
      oDOGMWh0dHA6Ly9jcmw0LmRpZ2ljZXJ0LmNvbS9EaWdpQ2VydEdsb2JhbFJvb3RD
      QS5jcmwwPQYDVR0gBDYwNDAyBgRVHSAAMCowKAYIKwYBBQUHAgEWHGh0dHBzOi8v
      d3d3LmRpZ2ljZXJ0LmNvbS9DUFMwHQYDVR0OBBYEFA+AYRyCMWHVLyjnjUY4tCzh
      xtniMB8GA1UdIwQYMBaAFAPeUDVW0Uy7ZvCj4hsbw5eyPdFVMA0GCSqGSIb3DQEB
      CwUAA4IBAQAjPt9L0jFCpbZ+QlwaRMxp0Wi0XUvgBCFsS+JtzLHgl4+mUwnNqipl
      5TlPHoOlblyYoiQm5vuh7ZPHLgLGTUq/sELfeNqzqPlt/yGFUzZgTHbO7Djc1lGA
      8MXW5dRNJ2Srm8c+cftIl7gzbckTB+6WohsYFfZcTEDts8Ls/3HB40f/1LkAtDdC
      2iDJ6m6K7hQGrn2iWZiIqBtvLfTyyRRfJs8sjX7tN8Cp1Tm5gr8ZDOo0rwAhaPit
      c+LJMto4JQtV05od8GiG7S5BNO98pVAdvzr508EIDObtHopYJeS4d60tbvVS3bR0
      j6tJLp07kzQoH3jOlOrHvdPJbRzeXDLz
      -----END CERTIFICATE-----

  "/etc/nginx/ssl-cert/star_xcloud-ops_net.key" :
    mode: "000755"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
      MIIEpQIBAAKCAQEAwpCvK3nAI28K2BpkOeV4E5r+bMBtVFIG1PjHDCQOwHGikq67
      Si1Pk0G4SErdm+40kCUyPLxowSuJrCl9GGO+HkwVmyCKCKH/6H6b1pgniTB1OAGl
      o2oqqO4RgmHdBYPaHSWb/WtdXId5cEBK7oPxaSR80yMpFaDeBj3hkHJY5SPuhN03
      uAjMrb9RNA5YjtHQz3UvoRCHWlJ0yPxGDNvqP4zVpIBdcwAm05OA+aJuoYjrMUyK
      JlUfTWFOb521iUM8PnSdD3X7LDCe2l/TyGknrWdQAOqvzWXLIRefMyViXZLymR6a
      XAcCWvhIW7odBWa0NNtiOGTzcFhePj+TBNL6FQIDAQABAoIBAQC1FXwzdomBcSQi
      pc2KpSvw81zBUwduZzm8lh6MCjNAoYKyCrZ9/1YEtDIT9rnzGu0JC9WJ+cF1qFPm
      TGcFgC++ewnQ66QNDNnlRZE9VTfW06cFjWLgiTtTJuBc/UB8lY83eX2Ji5fFOsGn
      2+7htyPEvBUBXcQrQSHjpUx+6C4cdIk2Qi/xjNS2CPaviqjDrvGyFg8pG5O2zBMY
      DJt8Jo/fVkAg/TUT121Y/jn1tqZgDSQd8QM0pdNnaRjnRb+gzs+2TmiYiRNqij2f
      QeTCFQe55ypjXNIu+kZmtbS6V655qP3YMnO8ljOi00k2UQum2DgIJbBAtk7Z0QhC
      JdTa6nCBAoGBAOYFoO4jn3XpwJdf/gkor2cgHqr6dCMt96V9IOOv5v/wL7MFUyWc
      YiAxjeH0m/CYNL56nxU3cgQzOkaCOnoE8DaKvg44xigM0Dd46jhr/NdH499vzsA7
      HkGTTTdeXdD6i8ur7h9knLQWqRbg9szeGFUw1/aF+r+CqKW7B3A57E19AoGBANiJ
      7pVYUvN4LGcphpSJ8cWyDwNNigWUbKFyo3LYgffEGTrmgNBJIEMZ+VHppD+oYVXy
      3+IQnCBEhfLsiX82TOAtGR/1Wficm6XgRyM+OxWGikEhUj0MfnqGROjuOnpumNto
      v2ndERfreMszTcWrfsrcM6rtXQ9HnsGU3xi7wuJ5AoGAPSI91Uzucp4/q3u9vp1r
      kNL+k56hA0CSUw9gkGMN1/P0GXZO1O4tPjUtamJil508V2uroC3uRaN/14GBHTD2
      zugs/waj070kEbo3NeutdWIL9DR5FKohrngBy7du473TLbxyOzG4XDyxj/0WWvik
      KvAiVcjiDcgiHnoIzhD29tkCgYEAwFwP2RXkYqrv7xkBl/TPFYtvMMTyBrDqq6V2
      M7DIDD1lGGDqL522jkWFqVG/+ljvVvXyExYkS7nzsHCWWK75LfCCMFS5/1PIJVwO
      de1zeVTSfrdGIjt2JAwhLTdsNZUIL2lnGXksFS62WPUTcrU9ZqKlN4OzNr6t9lP0
      uDkcECkCgYEApyt8iVu1xZeAD82v0qWQT3dTuhv1kfBamg+GeOCxR0s+Q6kO7I2/
      9nPxzo31MgTsCMANk/yaM5qgZGgIHk0I2HjcaQnUDTKlTa0dMUObI14DBWaWc95U
      JJhzS+qU/61fokyPVLkqM+Qc+r/vXSFCEtrVUMoWEZ/JIL5VdWcC2Ic=
      -----END RSA PRIVATE KEY-----

  "/etc/nginx/ssl-cert/client.crt" :
    mode: "000755"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
      MIIEzjCCAragAwIBAgIIOSjCeG3f1yowDQYJKoZIhvcNAQELBQAwcjEbMBkGA1UE
      AwwSUnVja3VzUEtJLURldmljZUNBMR0wGwYDVQQKDBRSdWNrdXMgV2lyZWxlc3Mg
      SW5jLjESMBAGA1UEBwwJU3Vubnl2YWxlMRMwEQYDVQQIDApDYWxpZm9ybmlhMQsw
      CQYDVQQGEwJVUzAeFw0xMzA4MzAxNzIwNTFaFw0zODA2MjcyMTAwNDFaMHcxIDAe
      BgNVBAMMF1J1Y2t1c1BLSS1EZXZpY2VTdWJDQS0xMR0wGwYDVQQKDBRSdWNrdXMg
      V2lyZWxlc3MgSW5jLjESMBAGA1UEBwwJU3Vubnl2YWxlMRMwEQYDVQQIDApDYWxp
      Zm9ybmlhMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoC
      ggEBAMK9QzxsBMmPXtMH/j0iq7F1Z7YDZ9jv5wYHW37mWdHmBne8agHjCLB7mD5b
      GVdknWVfvc0GWW49S8+YpyKI684acTKq3sf4kwzFp9aPuPcrnHzl1XvwPOhxsg7m
      A8yYNvVGu7TpJiFR62l1RVj44dOMm8ZpARBf+gTam8a0eiS2V0GlnS25WCHOpm1Y
      ypx1lePz4fBGk3OsOGO6lrVlGg14Zv46muGqwGr//Q+2UwxyDVd+a6ywIEzBiQiP
      geA24EJC7/LA5/YeCk4rMlfZhsOv4nI2ncF02FnJiv0kGHNpZeour8aUyuSP4xqo
      hgtywQfNzu1vK/ne70C/g7MYAWcCAwEAAaNjMGEwHQYDVR0OBBYEFGjC8a6J92dX
      kxnJt6iIrfDTe7MdMA8GA1UdEwEB/wQFMAMBAf8wHwYDVR0jBBgwFoAUvj6gBoUq
      vpbYL6gxKRblm94NceMwDgYDVR0PAQH/BAQDAgGGMA0GCSqGSIb3DQEBCwUAA4IC
      AQCPRP8Z6qxFCiFv2R7Xgj4XP6gaw6ZwrA9ypEcUGL0V8OpsGT9sPNQZeJBVS7qI
      vJ5NH58hnPGceg0FvRIU3tQSpaRuIX3892YbQ7MfFvrV/kFQAMqfJCdVe6dRlQyP
      izQ7L9l8UaEMsTDmo/QKuXiZ0PLVygQb5Jz16NCmgxtiJzek3xDWA0LOXQzDbofV
      ydZ3/Cm/IDqP717RzyvrVuwXNFIKUA+X6igvJ0Yc3+JfeeLQu8AqPe+65IuT7lU8
      SZS1q13cvKEs0HVJa9DtHJFYIe1KL52+o7y1LebjhqUTNDKp4eHmhQQBtjPBhu8g
      MhE2x45BFQopLFSsG/519bSn606ahJnk0dljXcexGYuRzvBtdQrM9jaUUJ03fz6G
      nhbcFqnVoMw8r+EnJrNz0SVBtBRCdZTlpPksie3z48k/p6L5MqbxOBvWgSfpkPPR
      WM/VX6ETInlCD63i2pi/0e83I+VAC/IUKA7LHx9hvMx5XxNo8m3d0oXJzNVQj0Cd
      OG80Rygm9eKvNaiMdVIH5GSuzEpik5FjmgXyDFnsN+l6DEdLG6RPtav6tQ3TUvfV
      wIhVtsoDALuXLwiKwG6JRbj/mMIqATRoXNCSHQsXxlbscYq3Ze/jFo0Sj6F3N5n9
      vcFjD16QkskeDvXZHlW1CkjRhndL0yfz+aLIDOY3hbzOMA==
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIEzjCCAragAwIBAgIILPtrVmn6XQcwDQYJKoZIhvcNAQELBQAwcjEbMBkGA1UE
      AwwSUnVja3VzUEtJLURldmljZUNBMR0wGwYDVQQKDBRSdWNrdXMgV2lyZWxlc3Mg
      SW5jLjESMBAGA1UEBwwJU3Vubnl2YWxlMRMwEQYDVQQIDApDYWxpZm9ybmlhMQsw
      CQYDVQQGEwJVUzAeFw0xMzA4MzAxNzIyMzNaFw0zODA2MjcyMTAwNDFaMHcxIDAe
      BgNVBAMMF1J1Y2t1c1BLSS1EZXZpY2VTdWJDQS0yMR0wGwYDVQQKDBRSdWNrdXMg
      V2lyZWxlc3MgSW5jLjESMBAGA1UEBwwJU3Vubnl2YWxlMRMwEQYDVQQIDApDYWxp
      Zm9ybmlhMQswCQYDVQQGEwJVUzCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoC
      ggEBAKpcBsXAnOPV2K4zEbNMrBD2qFXvilZpOEd7F2Q66zzZpDTuHAmcivq8ot2D
      a2EoMR/NcWQIuoTCO/ePtyrur2UszCMpO4qe/lbhBez06x4HSb/Lh0LCOr3QSwUx
      y3kk3ubPGEFFoSFuWU9mHv+DjTzm6iLXf3x2v9ofbGXdLIGdt3y1HAGmkkPmYoFe
      antNmenZmi1PymAtXzhLQ2mi2EJHE9ySkgv9GyuR3q8yXgYqEM4Gv6YlTjaDFto4
      ERm1dgK6vID6vJ0xe1hvko++oghlfrU/akP+Kd5vDqXT/1VXNLutGpZv7ZXQ+rUC
      j0lmHWA8YheuBV9QaOB4oWWzgnUCAwEAAaNjMGEwHQYDVR0OBBYEFGpTsB+yyOjd
      xKlxKs8UbBx3mbz2MA8GA1UdEwEB/wQFMAMBAf8wHwYDVR0jBBgwFoAUvj6gBoUq
      vpbYL6gxKRblm94NceMwDgYDVR0PAQH/BAQDAgGGMA0GCSqGSIb3DQEBCwUAA4IC
      AQBr4/5IdbiMh83hl0J1Bl/9MBfyiiGUdHoMnDkYf+XXey1noTReLSUDGpWmnaxU
      BD/i/hWUZq6r+bSRJLjG+dBLTkUsQjXebsg3tS0YvB4ocvSLapC0rniX+/Rz9G7u
      MwHzuiGvB6ZonAmaY3JSjBBaLmXX2+ApMYdPMwWIDsJ3iIH1HxSI1y6gDBL8kl4H
      UTAkE+JgRxVaEJTQqNd1XmoNXmz6TPw1fgNLVFweWGP6TSS8GbyCfEeKGw8Qx2QU
      WrKNpwenhFT2XHejP2HDDQhdKco2A3AXF7Q2VQQRYTzu26s/hGR6Nous1JzrWWl2
      849j5KSnNevp2ZUdMwugLabRSKncG7u2KZmOV4yWXO7bMspS9IVQ6QGLga+urhAy
      GMKh37JpRI3JAllzgMjHcVtiLWytuSxudt3eoX6SAdzCdZBBJo7IyVZh5SAfAyku
      ZnUX9SSOdUZqbuD69umWenweF5V++oixOUvlKkbO1QDN0KsuOadXExBInPC7+xP8
      UEmsxaTcKKVYRs8EyZr5o7YNJT8Kg1t3tNV5DOiH2UA+cRrS2puO2gXwIPyQq9Bc
      QlYtWTNFHW79jqqkYPZU0PWxnwzu7U2LDnwkAIQ9zqYJ6oEXJfZ7CtLIi3HBr7et
      NEEbtPM9LtDvQEPjYyosSCgg3/698XpHu16gZ86DyD02AQ==
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIFxTCCA62gAwIBAgIIfQ7PdRb79AAwDQYJKoZIhvcNAQELBQAwbjEXMBUGA1UE
      AwwOUnVja3VzUEtJLVJvb3QxHTAbBgNVBAoMFFJ1Y2t1cyBXaXJlbGVzcyBJbmMu
      MRIwEAYDVQQHDAlTdW5ueXZhbGUxEzARBgNVBAgMCkNhbGlmb3JuaWExCzAJBgNV
      BAYTAlVTMB4XDTEzMDYyNjIxMjI1NloXDTM4MDYyNzIxMDA0MVowcjEbMBkGA1UE
      AwwSUnVja3VzUEtJLURldmljZUNBMR0wGwYDVQQKDBRSdWNrdXMgV2lyZWxlc3Mg
      SW5jLjESMBAGA1UEBwwJU3Vubnl2YWxlMRMwEQYDVQQIDApDYWxpZm9ybmlhMQsw
      CQYDVQQGEwJVUzCCAiIwDQYJKoZIhvcNAQEBBQADggIPADCCAgoCggIBAK+iCQ/f
      DVAF72vGoLoX1A48RfjNf28jbL/kum1oetXLVOSM27+J6t/mG0FzSGZt4qMg+ZTP
      3JRJppm4EchMD3r0yV9Vhc5EfIMdQTT7+8BzOw+LSi52A590MSojdWUEAqCD6Ag0
      p5MhJXalk2qTP1lmixYwk+kdVYbjFGjdQebkpR0cNnRy4VRtUAHadBqkx7uuk718
      hpwci3lr50/H13dgqWPguStZvn34G2BD2HNVYbew2Onz5R4ToTc2niUFXDbksnDt
      L5FGJRji6SA2wEmVeH1LwnGo7hCy0LTkDKdDTKMQBE9edLsK7wD9C4mjR4m1XInc
      srkctlVUCo1u5zEjCN51b2Z7UwfoE8IeIzy31RJDZLrGhkRj7PXR7vwtJwniSHCX
      srjmip4taLa8h+lIiBNSmju+MYgsmVA+j6Mn0BU3OLjvL7jh12s1vIsDYGQ4SIML
      4hC/6cFQDuCaAu8CeSiBOxvSm41p66oO0qglTucO+HePjP65UgDqmHS5onDdbIfN
      OmqSkzCWm3B5o+/b5hRwpdXjjy50OTkf+IJMoUYrz4luflkdk2D5s7N7YWEhQ/z2
      6mt/xHmzgTNqFC1kgiVQMXVTIDv0lV+eT6LuhXI85UOy5lipPuaF2YM4BEwx0A68
      aV1rR5mbwQE856+YbjzW7Qmjn/WTV3EBu3eBAgMBAAGjYzBhMB0GA1UdDgQWBBS+
      PqAGhSq+ltgvqDEpFuWb3g1x4zAPBgNVHRMBAf8EBTADAQH/MB8GA1UdIwQYMBaA
      FB54IOsTh+kOPKs2Vqa0bSnOOaj7MA4GA1UdDwEB/wQEAwIBhjANBgkqhkiG9w0B
      AQsFAAOCAgEAFAJ2i2CdERggwKIf18nusXB4XTC5d9Ibx5EDJ9/j0dUNqyUPW0nW
      CxCod4ZLrlXbOPQ9TTkhiBlfiDxaMmxdEaQG+kRXPW4I5bGujs5dUpIw8QJUWca6
      OT9AcPvEWNLnFi8M8zmOll0binkhbt3/3XACFxRPCLb6ozCdu3pcnDWYKqcXv+SE
      Cr6JNwt0pKH7Fp90zDYNWP1zH+bzJQAajA/gdEIyldEMbKRcVI708+ANdKsEsZx9
      fMf6PSpaf130tSD4ynd5fyBRm5jy5WuB0zOmp6zWyHQBLZth1k/5sfKlmqGLkR2D
      Qfj6qnAJOFzygZnFuMrBEXFigfbi6HpLot1n9Q954waeGZx4O+zfjUSSCSg8HHIN
      2eMb5DZ9TpvT70J1ql71Ea1bA42fxUW1EjfXB6daYJAwNGlJAWT2KGe/q2Nkrz1P
      CRwMEQo5Kd1NH475tTovnSZIA3qMa6J5K0o70VhLeDhERI7AXe4MEPhFl6o+8Kzi
      2An6E0z7tzEf4yJ8nqeiFqjoAGZvvPDzazkR6SrN9mrPJdbKwTcFCFt7X6APQSUT
      QRp1uFRXojKEBk3la+r8oTDKW0vrlzUTjfoL9GH4nmxCy+hV6T0O5zUgl97I19iY
      BRryQKAIlWQHHCBd3CYDeZ95sbYW0I72KxkEf9u8CFXuoZucH7bu4Fw=
      -----END CERTIFICATE-----
      -----BEGIN CERTIFICATE-----
      MIIFwTCCA6mgAwIBAgIIO/wdAlmeJrgwDQYJKoZIhvcNAQELBQAwbjEXMBUGA1UE
      AwwOUnVja3VzUEtJLVJvb3QxHTAbBgNVBAoMFFJ1Y2t1cyBXaXJlbGVzcyBJbmMu
      MRIwEAYDVQQHDAlTdW5ueXZhbGUxEzARBgNVBAgMCkNhbGlmb3JuaWExCzAJBgNV
      BAYTAlVTMB4XDTEzMDYyNjIxMDA0MVoXDTM4MDYyNzIxMDA0MVowbjEXMBUGA1UE
      AwwOUnVja3VzUEtJLVJvb3QxHTAbBgNVBAoMFFJ1Y2t1cyBXaXJlbGVzcyBJbmMu
      MRIwEAYDVQQHDAlTdW5ueXZhbGUxEzARBgNVBAgMCkNhbGlmb3JuaWExCzAJBgNV
      BAYTAlVTMIICIjANBgkqhkiG9w0BAQEFAAOCAg8AMIICCgKCAgEAy3i6PCnjAzCa
      EqxdKoykSQ1dJUWOi3rxtormNFFN0CF3BRhIokelq1YYhWZHR2MeRzyFaFJek4V1
      TLMrgEaSpWUq97/T8wssUQ3pInhSmE4WNjby8bJvmUa4RfEK/mWKDSeWTiGJqmly
      y2JGysNapSHLJiCYKKOWLBUDxgCtXn5MFt0oZCsF76sM/hZlJQmvNl1u7lA+MLRZ
      HGHUYsJ8hCz/c9Ek2ZLZJv3FmNV4q3r8/mCnbmn0HNLQo7ImEaJBW8+FT802lU1P
      FeUFvrc8Pe792bM5cqvAOPyLhgmuorAYQV17pnn1m9quUB09tXEqvbAtLLWuVywK
      7XTPeZkny3sq9IUPnBHnveYFMXbej4HZJDBOuOGgVlgD3pEJS2LoZExQMujvZzid
      P87ZjvEEW5SHUBbOC++JWbf1ZhZOOzPIjHHOmEYIRNGosYSx4Ek5XQJALNk25djY
      3hdTVUHi4IpmXjKCeGZ6F0B5xZc1n3oFdvqxFWEDq8NLMKtcKxetARN+DAKcS0aj
      PHyciZ3N22tzj4u0YmkKJtSIBZnTzPWMwzmHPNMRDyBEprnejE4b1gkTId/zc6Xc
      WjJMWFCU49/kzeXFBO5IJphjMpt8Au4p/oG+kA6BM3OUgvs/MVI9DkO5ZBPXPlNa
      xV+gFDfUb4F4x441jDvZ7rokiINLhRkCAwEAAaNjMGEwHQYDVR0OBBYEFB54IOsT
      h+kOPKs2Vqa0bSnOOaj7MA8GA1UdEwEB/wQFMAMBAf8wHwYDVR0jBBgwFoAUHngg
      6xOH6Q48qzZWprRtKc45qPswDgYDVR0PAQH/BAQDAgGGMA0GCSqGSIb3DQEBCwUA
      A4ICAQCReabLkon06uTgLm19Idpt9kO2inl4koPBCUh4a64295QXA317HTrnSVuE
      nxYPg4baRQkEGVCzDjVh0WJ+8EmwTlnkfe097UITtmPDwuTnlagaZ2jRtZxA6SJg
      qDB8fupsAplsA1DsRAxq6JcOGSyejhfEvDEfr0lf0YbYEpdmUwfM01f+ho3yI6No
      S9j7cylUgrkGYSeqHhEwE4k76uEMu4Ls8k9Uac3SPidqbqBhMoHPgXymCUkXjmix
      jlrmfYcvdg+U3aoTVqrLngLUGdLSTYkxs4IxaOF88AN+GGXeMXCNPjSKIk5n/BjV
      AoSyz2qfIPl3YzZX19OpTnJZc1DC0mLqVDAc111uoRL7VaPrbQDofImiYD1HG2uX
      wrcR9IabKxMC0F+uEjZpkDE5TgpM/CsqKQAdqMtfZZZkIOcwaPRSJKpC4xp00jdr
      Aylh62MUHIscV6pdlaXSOXFFVBwcZBNR9qM1n/rQ0k/DTLsfS9O46cHCSXCkMgsE
      JrFb/M7npzg1AhoUkL5a0iMw6QP8aBsRPGUvwWb0TecX+LQWBO6Y82eGybhcXRMC
      MmqqThqRr5KSkVzslk2iwqV6c/6IFHnxIKaFNHDs/NW9/UDWsSGepIFg6gYRMEtD
      OHuY92ySkJ6BHxBJiPCgMW9EH5mRrn+hGSEO4XF4oCZHCryKYQ==
      -----END CERTIFICATE-----
