{% import 'macros.html' as macros %}
<!DOCTYPE html>
<html>
<head>
  <title>VRIOT Service</title>
  <link rel="stylesheet" type="text/css" href="/static/bulma.css">
  <link rel="stylesheet" href="static/font-awesome-4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="static/jquery.js"></script>
  <script type="text/javascript" src="static/app.js"></script>
</head>

<body>
<section class="header">
<div class="container has-shadow">
  <nav class="level nav has-shadow">
  <div class="level-left nav-left">
    <a class="level-item is-brand" href="/">
      <img src="static/Ruckus_logo.png" height="45" width="60" alt="Ruckus VRIOT">
    </a>
    <p class="title is-4 level-item">VRIOT Service</p>
  </div>
  </nav>
</div>
</section>


<div class="container is-unselectable">

  </br>
  <div class="box">
    <div class="title is-5">
      Module Selection
    </div>
    <hr>
    <div id="modules-msg" class="content is-small tag is-danger "></div>
    <p class="content ">Select the modules to start
    </p>

    <div class="columns">
      <div class="column">

        <div class="field modules-form required-on">
          <p class="control ">
            <label class="checkbox">
              <input name="mongo_db" type="checkbox">
              <span class="content is-small">Mongo DB</span>
            </label>
          </p>
        </div>
        <div class="field modules-form required-on">
          <p class="control ">
            <label class="checkbox">
              <input name="nginx" type="checkbox">
              <span class="content is-small">Nginx</span>
            </label>
          </p>
        </div>
        <div class="field modules-form required-on">
          <p class="control">
            <label class="checkbox">
              <input name="mqtt_broker" type="checkbox">
              <span class="content is-small">MQTT Broker</span>
            </label>
          </p>
        </div>
        <div class="field modules-form required-on">
          <p class="control">
            <label class="checkbox">
              <input name="mqtt_listner" type="checkbox">
              <span class="content is-small">VRIOT Device Manager MQTT Listner</span>
            </label>
          </p>
        </div>
      </div>

      <div class="column">
        <div class="field modules-form required-on">
          <p class="control">
            <label class="checkbox">
              <input name="celery" type="checkbox">
              <span class="content is-small"> Celery </span>
            </label>
          </p>
        </div>
        <div class="field modules-form required-off">
          <p class="control">
            <label class="checkbox">
              <input name="auth_api" type="checkbox">
              <span class="content is-small">VRIOT User Manager API</span>
            </label>
          </p>
        </div>
      </div>

      <div class="column">
        <div class="field modules-form required-on">
          <p class="control">
            <label class="checkbox">
              <input name="rabbitmq" type="checkbox">
              <span class="content is-small"> Rabbit Message Queue </span>
            </label>
          </p>
        </div>
        <div class="field modules-form required-on">
          <p class="control">
            <label class="checkbox">
              <input name="mongo_defaults" type="checkbox">
              <span class="content is-small">MongoDB Default Entries</span>
            </label>
          </p>
        </div>
      </div>
      <div class="column">
        <div class="field modules-form required-on">
          <p class="control">
            <label class="checkbox">
              <input name="dm_api" type="checkbox">
              <span class="content is-small"> VRIOT Device Manager API </span>
            </label>
          </p>
        </div>
        <div class="field modules-form aa-module">
          <p class="control">
            <label class="checkbox">
              <input name="aa_listner" type="checkbox">
              <span class="content is-small">Assa Abloy</span>
            </label>
          </p>
        </div>
      </div>
    </div>
    <!-- </form> -->
  </div>

  <div class="box">
    <h6 class="title is-5">Configurations</h6>
    <hr>
    <!-- <form> -->
      <div class="columns">

        <div class="column is-6">

          <div class="box">
            {% if true %} <!-- change true to ssl_enabled -->
            <div class="field config-field ssl-enable">
              <p class="control ">
                <label class="label is-small ">
                <input name="ssl-enabled" type="checkbox" >
                 &nbsp; Enable SSL </label>
              </p>
            </div>
            <div class="field config-field upon-ssl-enable">
              <label class="label is-small">FQDN for certificate</label>
              <div class="control ">
                <input 
                  name="fqdn"
                  class="input is-small" 
                  type="text" 
                  placeholder="enter fqdn that maps to VRIOT service." 
                  >
              </div>
            </div>
            {% endif %}

            <div class="field config-field upon-aa-module">
              <label class="label is-small">Visionline IP Address</label>
              <p class="control ">
                <input 
                  name="visionline-ip"
                  class="input is-small " 
                  type="text" 
                  placeholder="enter ipv4 address" 
                  >
              </p>
              <p class="help is-hidden">Invalid IPv4 Address</p>
            </div>
            
          </div>
        </div>
        <div class="column is-6">
          <div class="box">
            {% if true %} <!-- change to is_vm -->
            <!-- <hr> -->
            <p class="title is-6">VM Configuations</p>
            <!-- <hr class="is-small"> -->
            <!-- VM specific configurations go here -->
            <div class="field config-field">
              <label class="label is-small">Hostname</label>
              <p class="control ">
                <input 
                  name="hostname"
                  class="input is-small" 
                  type="text" 
                  placeholder="" >
              </p>
            </div>

            <div class="field config-field">
              <label class="label is-small">Default Gateway</label>
              <p class="control ">
                <input 
                  name="gateway"
                  class="input is-small" 
                  type="text" 
                  placeholder="">
              </p>
            </div>

            <div class="field config-field">
              <label class="label is-small">IP Mode</label>
              <p class="control">
                <label class="radio">
                  <input type="radio" name="ip">
                  <span class="content is-small">DHCP</span>
                </label>
                <label class="radio">
                  <input type="radio" name="ip">
                  <span class="content is-small">Static</span>
                </label>
              </p>
            </div>

            <div class="field config-field">
              <label class="label is-small">DNS Servers</label>
              <p class="control ">
                <input 
                  name="dns"
                  class="input is-small" 
                  type="text" 
                  placeholder="">
                <input 
                  name="dns2"
                  class="input is-small" 
                  type="text" 
                  placeholder="">
              </p>
            </div>

            {{macros.tzfield()}}

            <div class="field config-field">
              <label class="label is-small">Reset Admin Password</label>
              <p class="control ">
                <input 
                  name="opwd"
                  class="input is-small" 
                  type="password" 
                  placeholder="Old Password" 
                  value="">
                <input 
                  name="npwd"
                  class="input is-small" 
                  type="password" 
                  placeholder="New Password" 
                  value="">
                <input 
                  name="rtpwd"
                  class="input is-small" 
                  type="password" 
                  placeholder="Retype New Password" 
                  value="">
              </p>
            </div>
            {% endif %}
          </div>

        </div>
              
          
        



        </div>
      </div>
    <div >
      <a id="start-service" class="button is-success">
        <span class="icon is-small">
          <i class="fa fa-check"></i>
        </span>
        <span>Start</span>
      </a>
    </div>
    </br>
  </div>


</div>
</body>



</html>