{% import 'macros.html' as macros %}
<!DOCTYPE html>
<html>
<head>
  <title>VRIOT Service</title>
  <link rel="stylesheet" type="text/css" href="/static/bulma.css">
  <link rel="stylesheet" href="static/font-awesome-4.7.0/css/font-awesome.min.css">
  <script type="text/javascript" src="static/jquery.js"></script>
  <script type="text/javascript" src="static/app.js"></script>
</head>

<body>
<section class="header">
<div class="container has-shadow">
  <nav class="level nav has-shadow">
  <div class="level-left nav-left">
    <a class="level-item is-brand" href="/">
      <img src="static/Ruckus_logo.png" height="45" width="60" alt="Ruckus VRIOT">
    </a>
    <p class="title is-4 level-item">VRIOT Service</p>
  </div>
  </nav>
</div>
</section>


<div class="container is-unselectable">
  </br>
  <div class="columns">
    <div class="column is-6">
      <div class="box">
        <div class="level">
          <div class="level-left">
            <h4 class="title is-5">Service Status</h4>
          </div>
          <div class="level-right">
            <a class="button is-small is-primary is-outlined status-refresh-button">Refresh</a>
          </div>
        </div>
        <hr>

        <table class="table is-narrow">
          <thead>
            <tr>
              <td>Module</td>
              <td>Status</td>
              <td>Actions</td>
            </tr>
          </thead>
          <tbody class="content is-small modules-table">
            <tr sname="mongodb">
              <td>Mongo DB</td>
              <td>Running..</td>
              <td>{{macros.moduleActionButtons()}}</td>
            </tr>
            <tr sname="mqtt">
              <td>MQTT Broker</td>
              <td>Running..</td>
              <td>{{macros.moduleActionButtons()}}</td>
            </tr>
            <tr sname="rabbitmq">
              <td>Rabbit Message Queue</td>
              <td>Running..</td>
              <td>{{macros.moduleActionButtons()}}</td>
            </tr>
            <tr sname="gunicorn">
              <td><span class="content is-small">VRIOT Device Manager API</span></td>
              <td>Running..</td>
              <td>{{macros.moduleActionButtons()}}</td>
            </tr>
            <tr sname="mqtt_service">
              <td><span class="content is-small">MQTT Listner</span></td>
              <td>Running..</td>
              <td>{{macros.moduleActionButtons()}}</td>
            </tr>
            <tr sname="celery">
              <td>Celery</td>
              <td>Running..</td>
              <td>{{macros.moduleActionButtons()}}</td>
            </tr>
            <tr sname="aa_service">
              <td>Assa Abloy</td>
              <td>Stopped</td>
              <td>{{macros.moduleActionButtons()}}</td>
            </tr>
            <tr sname="auth_server">
              <td>VRIOT User Manager API</td>
              <td>Not configured </td>
              <td>{{macros.moduleActionButtons()}}</td>
            </tr>
            <tr sname="mongo_default_service">
              <td>MongoDB Defaults populator</td>
              <td><span>Completed</span></td>
              <td>{{macros.moduleActionButtons()}}</td>
            </tr>


          </tbody>
        </table>
      </div>
    </div>
    <div class="column is-6">
      <div class="box">
        <div class="level">
          <div class="level-left">
            <h6 class="title is-5"> Edit Configurations</h6>
          </div>
          <div class="level-right">
            <a class="button is-primary is-small is-outlined update-config-button">
              Update
            </a>
          </div>
        </div>
        
        <hr>
        
          <div class="columns">
            <div class="column ">


              <div class="box">
              {% if ssl_enabled %} <!-- change true to ssl_enabled -->
              <div class="field config-field">
                <p class="control ">
                  <label class="label is-small ">
                  <input name="ssl-enabled" disabled checked type="checkbox" >
                   &nbsp; Enable SSL </label>
                </p>
              </div>
              <div class="field config-field">
                <label class="label is-small">FQDN for certificate</label>
                <div class="control ">
                  <input disabled
                    name="fqdn"
                    class="input is-small" 
                    type="text" 
                    placeholder="Text input" 
                    value="{{fqdn}}">
                </div>
              </div>
              {% endif %}

              {% if aa_enabled %} <!-- change true to aa_enabled -->
              <div class="field config-field">
                <label class="label is-small">Visionline IP Address</label>
                <p class="control ">
                  <input 
                    name="visionline-ip"
                    class="input is-small " 
                    type="text" 
                    placeholder="Text input" 
                    value="{{visionline_ip}}">
                </p>
                <p class="help is-hidden">Invalid IPv4 Address</p>
              </div>
              {% endif %}
              </div>
              <div class="box">
              {% if true %} <!-- change to is_vm -->
              <!-- <hr> -->
              <p class="title is-6">VM Configuations</p>
              <!-- <hr class="is-small"> -->
              <!-- VM specific configurations go here -->
              <div class="field config-field">
                <label class="label is-small">Hostname</label>
                <p class="control ">
                  <input 
                    name="hostname"
                    class="input is-small" 
                    type="text" 
                    placeholder="Text input" 
                    value="{{hostname}}">
                </p>
              </div>

              <div class="field config-field">
                <label class="label is-small">Default Gateway</label>
                <p class="control ">
                  <input 
                    name="gateway"
                    class="input is-small" 
                    type="text" 
                    placeholder="Text input" 
                    value="{{gateway}}">
                </p>
              </div>

              <div class="field config-field">
                <label class="label is-small">IP Mode</label>
                <p class="control">
                  <label class="radio">
                    <input type="radio" name="ip" value="dhcp"
                    {% if not ip_mode_static %}
                      checked 
                    {% endif %}
                    >
                    <span class="content is-small">DHCP</span>
                  </label>
                  <label class="radio">
                    <input type="radio" name="ip" 
                    {% if ip_mode_static %}
                      checked 
                    {% endif %}
                     value="static">
                    <span class="content is-small">Static</span>
                  </label>
                </p>
              </div>

              <div class="field config-field">
                <label class="label is-small">DNS Servers</label>
                <p class="control ">
                  <input 
                    name="dns"
                    class="input is-small" 
                    type="text" 
                    placeholder="Text input" 
                    value="{{dns1}}">
                  <input 
                    name="dns2"
                    class="input is-small" 
                    type="text" 
                    placeholder=""
                    value="{{dns2}}">
                </p>
              </div>

              {{macros.tzfield()}}

              <div class="field config-field">
                <label class="label is-small">Reset Admin Password</label>
                <p class="control ">
                  <input 
                    name="opwd"
                    class="input is-small" 
                    type="password" 
                    placeholder="Old Password" 
                    value="">
                  <input 
                    name="npwd"
                    class="input is-small" 
                    type="password" 
                    placeholder="New Password" 
                    value="">
                  <input 
                    name="rtpwd"
                    class="input is-small" 
                    type="password" 
                    placeholder="Retype New Password" 
                    value="">
                </p>
              </div>
              {% endif %}
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</div>

</body>




</html>